<h1>About me</h1>


  <div>
    <h3>
      Tom - The Stargazer
    </h3>
    <p>
      After finished the degree of Mechanical Engineering from the University of Hong Kong(HKU), I was fascinated by the magic of programming. Hence, I start my journey to the master of programming......
    </p>
  </div>

